.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1580px;
  margin: 0 auto;
  height: 70px;
  background-color: azure;
}

.left {
  margin-left: 20px;
  flex: 2;
  color: black;
}
.right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}
.right a {
  text-decoration: none;
  color: black;
}
